@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: normal 20px "Roboto", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(32, 178, 154);
  padding: 2vh 0;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: black;
}

.ham {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
main {
  padding: 2rem;
  background-image: url(https://wallpaperaccess.com/full/99815.png);
}
main section {
  padding: 1vh;
  display: flex;
}

.imagex {
  object-fit: contain;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
    transform: translateX(100%);
    transition: 1s ease-out;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .active {
    transform: translateX(0);
  }
  .ham {
    display: block;
  }
}
